.card {
    text-align: center;
    min-width: 20rem;
    background-color: darkgrey;
    border-radius: 7px;
    border: solid 3px hotpink;
}
ul {
    text-align: left;
}

img {
    border-radius: 50%;
}